
h2 {
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  li {
    background-color: #f4f4f4;
    margin-bottom: 8px;
    padding: 10px;
    border-radius: 4px;
  
  }
  
  strong {
    color: #007bff;
  }
  
  app-secundario {
    margin-top: 20px;
  }
  